﻿@model OnlineCV.Models.Company.CompanyEntity

@{
    ViewData["Title"] = "Your Information:";
}

<h2>Details</h2>

<div>
    <h4>Company Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Edit</a>
</div>
<div>
    <h4>
        ALL your offers:
    </h4>
    @foreach (var job in Model.Jobs.OrderByDescending(j => j.CreateDate))
    {
    <div>
        <p>@job.Title <a asp-action="Edit" asp-controller="JobOffer" asp-route-id="@job.Id">Edit</a></p>
        @if (job.Hidden)
        {
            @:<p>Currently hidden</p>
        }
        <p>Active untill: @job.DueDate</p>
        <p>Description: @job.Description</p>
    </div>
    }
</div>
