﻿@model OnlineCV.Models.Profile.ProfileView
@{
    ViewData["Title"] = "Edit Profile";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<row>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="Edit">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Name:</p>
                    <input type="text" name="name" value="@Model?.Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Surname:</p>
                    <input type="text" name="surname" value="@Model?.Surname" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Profile Image:</p>
                    <input type="file" name="profileImage" value="@Model?.UriToProfilePicture" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Cv:</p>
                    <input type="file" name="Cv" value="@Model?.UriToCv" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload:</p>
                    <input type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <p>
            <a href="@Model?.UriToCv">Your Cv (@Model?.UriToCv)</a>
        </p>
        <div>
            <p>Current Image:</p>
            <img height="200" width="200" src="@Model?.UriToProfilePicture" />
        </div>
    </div>
</row>


