﻿@model OnlineCV.Models.Profile.ProfileView
@{
    ViewData["Title"] = "Home Page";
}
<div style="padding:10px">
    <p class="edit-btn">
        <a asp-area="" asp-controller="Profile" asp-action="Edit">Edit</a>
    </p>
    <p>Name: @Model.Name</p>
    <p>Surname: @Model.Surname</p>
    <p>
        <a href="@Model.UriToCv">Your Cv (@Model.UriToCv)</a>
    </p>
    <div>
        <p>Current Image:</p>
        <img height="400" width="400" src="@Model.UriToProfilePicture" />
    </div>
</div>

<style>
    .edit-btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .edit-btn:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }

        .edit-btn a{
            color:black;
        }
</style>