﻿@model OnlineCV.Models.Profile.ProfileEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProfileEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PathToCv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PathToCv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PathToProfilePicture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PathToProfilePicture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
