﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>OnlineCv</h1>
    <h2>Project by Andrzej Westfalewicz</h2>
    <p>
        For "Creating Web Applications with .NET Framework" subject on MINI PW
    </p>
</div>