﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This page probably does not fullfil privacy standards, but still respect more your privacy than Google/Facebook :).</p>
