﻿@model OnlineCV.Models.JobOffer.JobOfferCreate

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>JobOfferEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <label asp-for="OfferActiveThrough" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="OfferActiveThrough" asp-items="Html.GetEnumSelectList<ActiveThrough>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="OfferActiveThrough" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

