﻿@model OnlineCV.Models.JobOffer.JobOfferEdit

@{
    ViewData["Title"] = "Edit Offer";
}
<h2>Job Offer:</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                This Offer will be active until: @Model.DueDate
            </div>
            <div class="form-group">
                <label asp-for="Hidden" class="control-label"></label>
                <input asp-for="Hidden" class="form-control" />
                <span asp-validation-for="Hidden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <h5>Applications:</h5>
    <p id="loading">Loading...</p>
    <ul id="applications"></ul>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var jobId = @Model.Id;
    $(document).ready(function () {
        $.ajax({
            url: `/api/JobOffers/Applications/${jobId}`,
            type: 'GET',
            success: function (data) {
                if (!data || data.length == 0) {
                    $('#applications').append(noOneToHtml());
                    return;
                }
                $.each(data, function (key, value) {
                    $('#applications').append(contenderToHtml(value));
                });
            },
            error: function (e) {
                console.log(e)
                alert('Error! Please try again.');
            }
        }).done(function () {
            $('#loading').hide();
        });
    });

    function contenderToHtml(contender) {
        return "" +
`<p>
    ${contender.name} ${contender.surname} <a href="${contender.uriToCv}">CV</a>
</p>`
    }

    function noOneToHtml() {
        return "No one yet applied";
    }
</script>