﻿@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if ((bool)ViewData["IsCompany"])
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<p>
    <input id="searchbox" type="text" />
</p>
<div id="scrollPanel">
    <div id="items"></div>
    <div class='loading'>Please wait...</div>
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var currentUserID="@ViewData["CurrentUserId"]";
        var currentItemCount = parseInt(0);
        var jobOffers = [];
        var loading = false;
        var allJobsLoaded = false;

        $(document).ready(function () {
            fetchData(0);

            $('#searchbox').on('keypress', function (e) {
                if (e.which === 13) {
                    $(this).attr("disabled", "disabled");
                    currentItemCount = 0;
                    jobOffers = [];
                    allJobsLoaded = false;
                    $('#items').html('');//Clear content
                    fetchData(0);
                    $(this).removeAttr("disabled");
                }
            });

            $(window).scroll(function () {
                if (allJobsLoaded)
                    return;
                var scrolled = this.scrollY + window.innerHeight;
                var total = (document.height !== undefined) ? document.height : document.body.offsetHeight;
                if (scrolled / total > 0.8 && !loading) {
                    loading = true;
                    $('.loading').show();
                    fetchData(currentItemCount);
                }
            });
        });

        function fetchData(alreadyLoadedItems) {
            $.ajax({
                url: '/api/JobOffers/Search/',
                type: 'GET',
                data: { 'searchString': $('#searchbox').val(), 'alreadyLoadedItems': alreadyLoadedItems },
                success: function (data) {
                    if (!data || data.length == 0) {
                        allJobsLoaded = true;
                        return;
                    }
                    var i = 0;
                    while (true) {
                        var job = data[i++];
                        if (job == undefined) {
                            break;
                        }
                        jobOffers[jobOffers.length] = job;
                        $('#items').append(jobToHTML(job));
                        initInJQuery(job);

                    }

                    //Just JS stuff with its conversion to string
                    currentItemCount = parseInt(currentItemCount) + parseInt(data.length);
                },
                error: function (e) {
                    console.log(e)
                    alert('Error! Please try again.');
                }
            }).done(function () {
                loading = false;
                $('.loading').hide();
            });
        }
        function jobToHTML(job) {
            return "" +
`<div class='jobOffer-table-row' id=${job.id}>
<p class='job-title'>${job.title}</p>
<p class='job-creator'> at: <a href='${job.creatorUrl}'>${job.creator}</a></p>
<div class='jobOffer-description'>
    <p>${job.description}</p>
    <div class='btn edit-btn'>Edit</div>
    <div class='btn apply-btn'>Aplly</div>
</div>
</div>`;
        }
        function expandCollapse(element) {
            var $element = $(element);
            if ($element.hasClass('expanded')) {
                $element.children('.jobOffer-description').hide();
                $element.removeClass('expanded');
            } else {
                $element.children('.jobOffer-description').show();
                $element.addClass('expanded');
            }
        }

        function initInJQuery(job) {
            $('.jobOffer-table-row#' + job.id).each(function (i, element) {
                var $element = $(element);
                if ($element.events === undefined || $element.events['click'] === undefined || $element.events['click'].length === 0) {
                    $element.on('click', function () { expandCollapse($element) });
                }
                if (job.creatorId == currentUserID) {
                    $element.find('.edit-btn').show();
                    $element.find('.edit-btn').on('click', function() {
                        window.location.href = '/JobOffer/Edit/' + job.id;
                    })
                    $element.find('.apply-btn').hide();
                }
                else {
                    $element.find('.edit-btn').hide();
                    $element.find('.apply-btn').show();
                    $element.find('.apply-btn').on('click', function () {
                        $element.on('click', function () { expandCollapse($element) });
                        applyTo(job);
                    })
                }
            });
        }
        function applyTo(job) {
            $('.jobOffer-table-row#' + job.id).each(function (i, element) {
                var $element = $(element);
                $element.find('.apply-btn').css("background-color", "LightGrey");
            });

            $.ajax({
                url: '/JobOffer/Apply/',
                type: 'POST',
                data: { 'id': job.id },
                success: function (data) {
                    $('.jobOffer-table-row#' + job.id).each(function (i, element) {
                        var $element = $(element);
                        $element.find('.apply-btn').css("background-color", "SpringGreen");
                        $element.find('.apply-btn').html('Applied');
                    });
                },
                error: function (e) {
                    $('.jobOffer-table-row#' + job.id).each(function (i, element) {
                        var $element = $(element);
                        $element.find('.apply-btn').removeAttr('style');
                    });
                    console.log(e);
                    alert('Error! Please try again.');
                }
            });
        }
    </script>
}
<style>
    .jobOffer-table-row {
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .jobOffer-description {
        display: none;
    }

    .job-title {
        font: bold;
        display: inline-block;
    }

    .job-creator {
        display: inline-block;
    }

    .loading {
        /*jQuery only*/
    }

    .edit-btn {
        background-color: #ccc;
    }

        .edit-btn:hover {
            color: #333;
            background-color: #ddd;
            border-color: #fff;
        }

    .apply-btn {
        background-color: skyblue;
    }

        .apply-btn:hover {
            color: #333;
            background-color: dodgerblue;
            border-color: mediumblue;
        }


    .edit-btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #333;
        border-color: #ccc;
    }

    .btn:hover {
        color: #333;
    }

    .btn a {
        color: black;
    }
</style>